<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- rendering lists and conditional rendering -->

    <div id="app">
      <p v-if="flag">Yes</p>
      <p v-else>No</p>

      <ul>
        <li v-for="animal in animals">{{ animal }}</li>
      </ul>
  
      <ul>
        <li v-for="(number, index) in numbers" :key="index">{{ number }}</li>
      </ul>
  
      <div v-for="variant in variants" :key="variant.id">{{ variant.color }}</div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
