{% load static %}

<style>

</style>


<figure class="md:flebg-gray-100 rounded-xl p-8 text-xl">
  <img class="w-34 h-34 rounded-full mx-auto" src="{% static '/dispatch/img/me2.png' %}" alt="Corciu Mihai">
  <div class="pt-6 text-center space-y-4">
      
    <figcaption class="font-medium">
      <div class="text-cyan-600">
        Corciu Mihai
      </div>
      <div class="text-lg font-semibold">
        Django/Vue web development
      </div>      
    </figcaption>
  
    <div class="text-gray-500">Love to fiddle with the details of web apps.</div>

    <p><a class="text-blue-500 hover:text-red-500 cursor-pointer" href="https://django.mihaicorciu.ro">Django Blog</a></p>
    <p><a class="text-blue-500 hover:text-red-500 cursor-pointer" href="https://mihaicorciu.ro">Python Data science</a></p>    

    <div>
    <a href="https://mihaicorciu.ro/" title="mysite" class="social-icon"><i class="fa fa-linux" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/mihai-corciu-oltenita/" title="LinkedIn" class="social-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/mihai2014" title="GitHub" class="social-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://mihai2014.github.io/" title="GitHub" class="social-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
    <!--<i class="far fa-envelope"></i>-->
    </div>
    <p>mc200520052005@yahoo.com</p>

  </div>
</figure>







<!--
  <div class="text-center font-sans text-xl">

    <img class="w-34 h-34 rounded-full mx-auto" src="{% static '/dispatch/img/me2.png' %}" alt="Corciu Mihai">
  
    <p>Corciu Mihai</p>
    <p>Django/Vue web development</p>

    <br>
      
    <br>
    <p><a class="text-blue-500 hover:text-red-500 cursor-pointer" href="https://django.mihaicorciu.ro">Django Blog</a></p>
    <p><a class="text-blue-500 hover:text-red-500 cursor-pointer" href="https://mihaicorciu.ro">Python Data science</a></p>
    <br>
      

    <p class="about">
      Love to fiddle with the details of web apps. 
    </p>
      
    <h2>Contact:</h2>
    <ul>
      <li><a href="https://mihaicorciu.ro/" title="mysite" class="social-icon"><i class="fa fa-linux" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/mihai-corciu-oltenita/" title="LinkedIn" class="social-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/mihai2014" title="GitHub" class="social-icon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://mihai2014.github.io/" title="GitHub" class="social-icon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
    
    <p>mc200520052005@yahoo.com</p>

  </div>

-->
