<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- Attribute bind: ==two way bind== -->
    <!-- click event handling -->
    <!-- defining methods -->
    <div id="app">

      <p>Modify input values to update below divs</p>

      <form>
        <label for="first-name">First name:</label><br>
        <input type="text" name="first-name" v-model="firstName"><br>
        <label for="last-name">Last name:</label><br>
        <input type="text" name="last-name" v-model="lastName"><br><br>
        <input type="submit" value="Submit">
      </form> 

      <button type="button" v-on:click="reset">Reset input fields to default values</button>
      <!-- shorthand -->
      <button type="button" @click="reset">Reset input fields to default values</button>
      <!-- or -->
      <button type="button" @click="firstName='John'; lastName='Doe';">Reset input fields to default values</button>


      <p><div>{{ firstName }}</div></p>
      <p><div>{{ lastName }}</div></p>

    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
